.header-nav {
    list-style: none;

    height: 100%;

    display: flex;
    align-items: center;

    &__item {

        &:not(:last-child) {
            margin-right: 2rem;
        }

        &:last-child a {
            padding-right: 0;
        }
        
        &:hover a {
            color: var(--color-primary);
        }
    }

    &__link {
        font-family: var(--font-primary);
        font-size: 1.4rem;
        text-transform: capitalize;
        text-decoration: none;
        color: var(--color-heading);
        display: inline-block;
        padding: 1.5rem;
        transition: color .3s;
    }
}