.cell {
    &--transparent {
        background-color: transparent;
    }
}

.table-price {
    font-size: 3.2rem !important;
    color: #555;
    font-family: var(--font-heading);
    font-weight: 700;
}
 

 
 .container th h4 {
    font-family: var(--font-text);
    font-weight: 300;
    font-size: 3em;
   text-transform: uppercase;
 }
 
 .container td {
       font-weight: normal;
       font-size: 1.6rem;
//    -webkit-box-shadow: 0 2px 2px -2px #0E1119;
//         -moz-box-shadow: 0 2px 2px -2px #0E1119;
//              box-shadow: 0 2px 2px -2px #0E1119;
 }
 
 .container {
       text-align: left;
       overflow: hidden;
       width: 80%;
       margin: 0 auto;
   display: table;
   padding: 0 0 8em 0;
 }

 .bronze {
    background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));

    h4 {
    color: #fff !important;
    }
 }

 .gold {
    background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85));

    h4 {
        color: #fff !important;
        }
 }

 .silver {
    background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(228, 172, 141, 0.85));

    h4 {
        color: #fff !important;
        }
 }
 
 .container td, .container th {
       padding-bottom: 2%;
       padding-top: 2%; 
 }
 
 /* Background-color of the odd rows */
 .container tr:nth-child(odd) {
       background-color: rgb(244, 244, 244);
 }
 
 /* Background-color of the even rows */
 .container tr:nth-child(even) {
       background-color: var(--color-grey-light);
 }
 
 .container tr:first-child {
    //    background-image: linear-gradient(to right, rgb(205,153,50), rgb(255,215,0));
       th {
           text-align: center;
       }
 }

 .container tr.tr-transparent-bg {
    background-image: none;
 }
 
 .container td:first-child { color: #333;
font-size: 2rem; 
text-align: center;}

 .container td:not(:first-child) { 
     color: rgb(15, 193, 56);
     text-align: center;
 }
 
 .container tr:hover {
    background-color: darken(#fff, 7%);
//  -webkit-box-shadow: 0 6px 6px -6px #0E1119;
//         -moz-box-shadow: 0 6px 6px -6px #0E1119;
//              box-shadow: 0 6px 6px -6px #0E1119;
 }
 
//  .container td:hover {
//    background-color: #FFF842;
//    color: #403E10;
//    font-weight: bold;
   
//    box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
//    transform: translate3d(6px, -6px, 0);
   
//    transition-delay: 0s;
//        transition-duration: 0.4s;
//        transition-property: all;
//    transition-timing-function: line;
//  }
 
 @media (max-width: 800px) {
 .container td:nth-child(4),
 .container th:nth-child(4) { display: none; }
 }